snippet pubf "Public method"
    public function ${1}(${2}): ${3}
    {
        ${0}
    }

snippet testa "Test with annotation"
    /** @test */
    public function $0()
    {
    	$1
    }

snippet testp "Test with prefix"
    public function test_$0()
    {
    	$1
    }
